/* スマホ用のCSS */

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
}

.frame-header {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px black; */
  margin: 10px;
  align-items: center;
  padding: 0;
}

.logo {
  /* background-color: blue; */
  height: 50px;
}
.img-logo {
  height: 100%;
}

.menu-round {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-menu {
  height: 25px;
}

.img-login {
  display: none;
}

.img-search {
  display: none;
}

.img-cart {
  display: none;
}
.img-setting {
  display: none;
}

main {
  /* background-color: blue; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-hawaii {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-restaurant-logo {
  position: absolute;
  top: 70px;
  width: 80%;
}

.menu {
  /* border: solid 1px black; */
}

.padding{
  padding: 30px;
  background: -moz-linear-gradient(top, #ffffff, #FFFBE3);
  background: -webkit-linear-gradient(top, #ffffff, #FFFBE3);
  background: linear-gradient(to bottom, #ffffff, #FFFBE3);
}

.lunch {
  display: flex;
  justify-content:center ;
  align-items: center;
}

.img-lunch{
  height: 100px;
  margin-right: 15px;
}

.container-info p{
  margin: 10px;
  color: #5B0F00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-LD{
  font-weight: bold;
  font-size: large;
}

button{
  background-color: #FAB39B;
  color: white;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 5px;
}

.dinner {
  display: flex;
  justify-content:center ;
  align-items: center;
}

.img-dinner{
  height: 100px;
  margin-right: 15px;
}



footer {
  background-color: #ffa0a0;
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  /* 960px以上に適用されるCSS（PC用） */
  header {
    width: 100%;
    background-color: #d9d9d9;
    position: static;
  }

  .frame-header {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu-setting {
    display: flex;
    /* background-color: yellow; */
    min-width: 20%;
    justify-content: space-between;
  }

  .menu-round {
    display: none;
  }

  .img-menu {
    display: none;
  }

  .img-login {
    display: block;
    height: 25px;
  }

  .img-search {
    display: block;
    height: 25px;
  }

  .img-cart {
    display: block;
    height: 25px;
  }

  .img-setting {
    display: block;
    height: 25px;
  }
  .menu {
    display: flex;
    justify-content: center;
  }

  .lunch {
    width: 45%;
  }

  .dinner {
    width: 45%;
  }
}
