/* スマホ用のCSS */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.frame-header {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px black; */
  margin: 10px;
  align-items: center;
  padding: 0;
}

.logo {
  /* background-color: blue; */
  height: 50px;
}
.img-logo-white {
  height: 100%;
}

.menu-round {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-menu {
  height: 25px;
}

.img-login {
  display: none;
}

.img-search {
  display: none;
}

.img-cart {
  display: none;
}
.img-setting {
  display: none;
}

main {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main {
  width: 100%;
  /* background-color: pink; */
  position: relative;
}

.img-hawaii {
  width: 100%;
  height: auto;
  /* margin: 0;
  padding: 0; */
}

.img-restaurant-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.menu {
  /* border: solid 1px black; */
}

.padding {
  padding: 30px;
  background: -moz-linear-gradient(top, #ffffff, #fffbe3);
  background: -webkit-linear-gradient(top, #ffffff, #fffbe3);
  background: linear-gradient(to bottom, #ffffff, #fffbe3);
}

.lunch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-lunch {
  height: 100px;
  margin-right: 15px;
}

.container-info p {
  margin: 10px;
  color: #5b0f00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-LD {
  font-weight: bold;
  font-size: large;
}

button {
  background-color: #fab39b;
  color: white;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 5px;
}

.dinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-dinner {
  height: 100px;
  margin-right: 15px;
}

footer {
  background-color: #ffa0a0;
  color: white;
  display: flex;
  justify-content: center;
}

.c-hamburger-menu__list {
  background-color: #eeeeee; /* カスタマイズしてください */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 2rem; /* カスタマイズしてください */
  position: absolute;
  transform: translateX(-100%);
  transition: 0.3s; /* カスタマイズしてください */
  top: 100%;
  width: 100%;
}

#hamburger:checked ~ .c-hamburger-menu__list {
  transform: translateX(0%);
  transition: 0.3s;
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

/* .c-hamburger-menu__button {
display: none;
} */

.c-hamburger-menu__button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px; /* カスタマイズしてください */
  height: 32px; /* カスタマイズしてください */
  justify-content: center;
  width: 32px; /* カスタマイズしてください */
}

.c-hamburger-menu__button-mark {
  background-color: #000; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}

.c-header {
  align-items: center;
  background-color: #eeeeee; /* カスタマイズしてください */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; /* カスタマイズしてください */
  width: 100%;
}

.c-header__logo {
  color: #000; /* カスタマイズしてください */
  min-width: 80px; /* カスタマイズしてください */
  text-decoration: none;
}

.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #000; /* カスタマイズしてください */
  display: block;
  margin-right: 20px; /* カスタマイズしてください */
  text-decoration: none;
  padding: 10px 0px; /* カスタマイズしてください */
}

.c-header__list-link:hover {
  filter: opacity(0.6); /* カスタマイズしてください */
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (min-width: 960px) {
  /* 960px以上に適用されるCSS（PC用） */
  header {
    width: 100%;
    background-color: #fab39b;
    position: static;
  }

  .frame-header {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu-setting {
    display: flex;
    /* background-color: yellow; */
    min-width: 20%;
    justify-content: space-between;
  }

  .menu-round {
    display: none;
  }

  .img-menu {
    display: none;
  }

  .img-login {
    display: block;
    height: 25px;
  }

  .img-search {
    display: block;
    height: 25px;
  }

  .img-cart {
    display: block;
    height: 25px;
  }

  .img-setting {
    display: block;
    height: 25px;
  }

  .img-hawaii {
    height: 670px;
    object-fit: cover;
  }
  .menu {
    display: flex;
    justify-content: center;
  }

  .padding {
    padding: 70px;
    width: 50%;
    display: flex;
    justify-content: center;
    background: -moz-linear-gradient(top, #ffffff, #fffbe3);
    background: -webkit-linear-gradient(top, #ffffff, #fffbe3);
    background: linear-gradient(to bottom, #ffffff, #fffbe3);
  }

  .lunch {
    width: 45%;
  }

  .img-lunch {
    height: 220px;
    margin-right: 25px;
  }

  .container-info {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-info p {
    margin: 10px;
    font-size: 25px;
    width: 100%;
    white-space: nowrap;
    color: #5b0f00;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dinner {
    width: 45%;
  }

  button {
    background-color: #fab39b;
    color: white;
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 25px;
    padding: 5px;
  }

  .img-dinner {
    height: 220px;
    margin-right: 25px;
  }
}
